.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}
.header__area {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app__headerImage {
  object-fit: contain;
}

button[type="submit"] {
  margin-top: 10px;
}
