* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	--scrollbarBG: #e8eaf6;
	--thumbBG: #2a2a57;
}

body::-webkit-scrollbar {
	width: 13px;
}

body {
	width: 100%;
	height: 100vh;
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
	--tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
	background-color: var(--thumbBG);
	border-radius: 6px;
	border: 3px solid var(--scrollbarBG);
}
